@import './config.scss';
// 工具混入 
//  &::after,
//  &::before
@mixin utils-clearfix {
  $selector : &;
  @at-root {
    #{$selector}::after, #{$selector}::before {
      display: block;
      content: '';
    }
    #{$selector}::after{
      clear: both;
    }
  }
}

// 为button的user-select 添加
@mixin utis-user-select($value) {
  user-select: $value;
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}